// Файл обнуляющих стилей
@import "nullstyle.scss";

//& - повторяет родителя, можно использовать если несколько класов для лдного тега
//$fz - переменные
//%tpborder - создание шаблона с параметрами
//@mixin  fontz($f,$c)-мы можем менять значения
// sass может также сразу делать математику для вычесления размеров или текста или блоков

$bg: 50px;
$fz: 5px;
$color_1: rgba(244, 248, 10, 0.89);
$color_2: rgb(23, 33, 179);
%tplborder {
  border-bottom: 2px dashed rgba(3, 46, 163, 0.911);
}
//миксин
@mixin fontz($f, $c) {
  font-size: $f;
  background-color: $c;
}
body {
  text-align: center;
  font-size: 55px;
}

.link-2 {
  background-color: chartreuse;
  font-size: 55px;
  &:hover {
  }
}
