// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

body {
  font-family: "Lato";
}

.about {
  /* .about__body */

  &__body {
  }

  /* .about__header */

  &__header {
  }

  /* .about__title */

  &__title {
    font-size: 50px;
    font-weight: 700;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 8.95x;
  }

  /* .about__text */

  &__text {
    font-size: 34px;
    font-weight: 700;
  }

  /* .about__row */

  &__row {
  }

  /* .about__column */

  &__column {
  }
}
.title {
}
.item-about {
  /* .item-about__icon */

  &__icon {
  }

  /* .item-about__title */

  &__title {
  }

  /* .item-about__text */

  &__text {
  }
}
