// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;500;600&display=swap");

html,
body {
  font-family: "Lato";
  height: 100%;
}

// Header---------------------------------------------------------------------------------------
.wrapper {
}

.container {
  max-width: 1600px;
  margin: 0px auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 35px;

  /* .header__menu */

  &__menu {
  }

  /* .header__list */

  &__list {
    position: relative;
    flex: 0 0 94px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 487px;

    & li {
      margin: 0 10px 0 0;
    }
  }

  /* .header__link */

  &__link {
    font-size: 13px;
    letter-spacing: 4.3%;
    color: #4d4959;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* .header__logo */

  &__logo {
  }
}

.top {
  /* .top__body */

  &__body {
  }
  & img {
    max-width: 100%;
  }
}
