@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

.hi {
  background-color: #445162;
  padding: 50px 0px;
}
.hi__row {
  display: flex;
  justify-content: space-between;
}
.hi__body {
  padding-right: 30px;
  color: #fff;
}
.hi__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 0px;
}
.hi__list li {
  background: url("/lessons/FlexBox/flexbox/img/icons/check icon.png") 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  padding-left: 36px;
  line-height: 22px;
  margin-bottom: 15px;
}
.hi__list li:last-child {
  margin: 0;
}
.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.what .container {
  padding: 50px 0;
}
.what__row {
  display: flex;
}
.what__title {
  margin-bottom: 33px;
}
.footer-container__container {
  background-color: #f5f5f5;
}
.footer-container__row {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}
.footer-container__text {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 2%;
  color: #445162;
  text-align: center;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
  /* .columns__title */
  /* .columns__row */
  /* .columns__column */
  /* .columns__item */
}
.columns__title {
  text-align: center;
  margin-bottom: 35px;
}
.columns__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}
.columns__column {
  padding: 0px 8px;
  flex: 0 1 50%;
  margin: 0 0 30px 0px;
}
.item {
  /* .item__row */
  /* .item__image */
  /* .item__body */
  /* .item__title */
  /* .item__text */
}
.item__row {
  display: flex;
}
.item__image {
  flex: 0 0 200px;
}
.item__body {
  flex: 1 1 auto;
  padding-left: 15px;
}
.item__title {
  color: #445161;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 13px;
}
.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.vertical {
  padding: 50px 0;
  /* .vertical__title */
  /* .vertical__body */
  /* .vertical__row */
  /* .vertical__column */
  /* .vertical__item */
  /* .vertical__subtitle */
  /* .vertical__label */
  /* .vertical__text */
  /* .vertical__btn */
}
.vertical__title {
  text-align: center;
  margin-bottom: 30px;
}
.vertical__body {
  max-width: 990px;
  margin: 0px auto;
}
.vertical__row {
  display: flex;
  margin: 0px -22.5px;
}
.vertical__column {
  display: flex;
  padding: 0px 22.5px;
  flex: 0 1 33.333%;
}
.vertical__item {
  background-color: #445162;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #445162;
  padding: 0 0 20px 0;
  flex-direction: column;
}
.vertical__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0;
  text-align: center;
}
.vertical__label {
  background-color: #fff;
  text-align: center;
  color: #445162;
  padding: 15px 0;
  font-size: 40px;
}
.vertical__text {
  padding: 20px;
  font-style: 14px;
  line-height: 24px;
  flex: 1 1 auto;
}
.vertical__btn {
  display: block;
  margin: 0 20px;
  height: 40px;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
